.boton1{
    margin: 0.1cm;
    width: 1cm;
    height: 1cm;
}
.numero1{
    margin: 0.1cm;
    width: 2.25cm;
    height: 1cm;
}
#simbolo{
    margin: 0.1cm;
    width: 0.5cm;
    height: 0.5cm;
    text-align: center;
}
#resultado{
    margin: 0.1cm;
    background-color: green;
    width: 6cm;
    height: 1cm;
}
#calculadora{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 7cm;
    height: 8.4cm;
    text-align: center;
    background-color: aqua;
}